header {
	padding-top: 20px;
	background: #DAD871;
	display: flex;
	justify-content: center;

	.header__menu {
		display: flex;
		flex-direction: column;

		.header__up {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			@media screen and (max-width: 575.98px) {
				flex-wrap: wrap;
				justify-content: space-around;
			}

			form {
				@media screen and (max-width: 575.98px) {
					order: 2;
					margin: 20px 80px 0 80px;
				}

				@media screen and (max-width: 475.98px) {
					margin: 0 30px;
				}
			}

			input {
				@media screen and (max-width: 575.98px) {
					width: 200px;
				}
			}

			button {
				@media screen and (max-width: 575.98px) {
					padding: 10px;
				}
			}

			.header__up_tel-icon {
				display: none;
				@media screen and (max-width: 767.98px) {
					display: block;
				}
			}

			.header__up_tel-numb {
				@media screen and (max-width: 767.98px) {
					display: none;
				}
			}
		}

		.header__down {
			margin: 20px 0;

			ul{
				display: flex;
				flex-direction: row;
				justify-content: space-between
			}
		}
	}
}

















