main {
	padding: 20px 0px;
	background: #FBCEB1;
	display: flex;
	justify-content: center;

	.promo {
		position: relative;
		padding-bottom: 20px;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: Green;
			position: absolute;
			bottom: 0;
			left: 0;
		}

		.promo__picture {
			max-width: 400px;

			@media screen and (max-width: 801.98px) {
				max-width: 330px;
			}

			@media screen and (max-width: 767.98px) {
				max-width: 270px;
			}
		}

		.promo__right {
			width: 400px;
			text-align: right;

			@media screen and (max-width: 801.98px) {
				width: 350px;
			}

			@media screen and (max-width: 767.98px) {
				width: 300px;
			}
		}
	}

	.main__promo-desktop {
		display: flex;
		flex-direction: row;
		align-items: center;

		@media screen and (max-width: 575.98px) {
			display: none;
		}

		.promo__left {
			flex-wrap: wrap;
			width: 500px;

			@media screen and (max-width: 801.98px) {
				width:350px;
			}

			@media screen and (max-width: 767.98px) {
				width:270px;
			}
		}

		.promo__right {
			width: 400px;
			text-align: right;

			@media screen and (max-width: 801.98px) {
				width: 350px;
			}

			@media screen and (max-width: 767.98px) {
				width: 300px;
			}
		}
	}

	.main__promo-mobile {
		display: none;

		@media screen and (max-width: 575.98px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.promo__center {

		}
	}



	.str {
		padding-top: 20px;
		display: flex;
		align-items: center;
		flex-direction: row;

		@media screen and (max-width: 575.98px) {
			flex-direction: column;
			justify-content: center;
		}

		.str__category {
			width: 200px;

			@media screen and (max-width: 767.98px) {
				width: 150px;
			}

			@media screen and (max-width: 575.98px) {
				width: 95%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			ul {
				@media screen and (max-width: 575.98px) {
					width: 95%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}
			}
		}

		.str__news {
			margin-left: auto;
			width: 600px;
			line-height: 1.2;

			@media screen and (max-width: 801.98px) {
				width: 500px;
			}

			@media screen and (max-width: 767.98px) {
				width: 390px;
			}

			@media screen and (max-width: 575.98px) {
				margin-left: 0;
				width: 95%;
			}

			.str__news_title {
				justify-content: center;
				display: flex;
				flex-direction: row;
				align-items: center;

				img{
					margin-left: 20px;
					height: 50px;
				}
			}
		}
	}
}